.fe-opt-content {
	overflow: auto;
	padding-top: 0;
}
.fe-opt-content .left{
	top:0;
	bottom:0;
	width:300px;
	height: 415px;
	border-right:5px solid #def;
	overflow: auto;
}
.fe-opt-content .left ul{
	margin:0;
	padding:5px;
}
.fe-opt-content .left li{
	padding:6px 0 6px 20px;
	cursor:default;
	margin:4px 0;
	list-style:none;
}
.fe-opt-content .left li:hover{
	background:#eee;
	color:#b00;
}
.fe-opt-content .left li.selected{
	background:#eee;
	color:#b00;
}
.fe-opt-content .right{

}
.fe-opt-content .right .title{
	margin:20px 0 10px;
	color:#48b;
	font-weight:bold;
}
.fe-opt-content .right ul{
	margin:0px;
	padding:5px;
}
.fe-opt-content .right ul li{
	margin:0 0 0 20px;
	padding:5px;
}
.fe-opt-content .right ul.no-list-style li{
	margin:0;
	list-style:none;
}
.fe-opt-content .right ul li:hover{
	background:#f8f8f0;
}
.fe-hide {
	display:none;
}

#tip_message {
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 40%;
	text-align: center;
	width: 100%;
}

#tip_message span {
	background-color: #03C440;
	opacity: .8;
	padding: 20px 50px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}

#tip_message span.error {
	background-color: #EAA000;
}
