<!DOCTYPE html>
<html ng-app=cm data-ng-csp>
<head>
    <meta charset=utf-8>
    <link rel=stylesheet href=/bootstrap/css/bootstrap.css>
    <link rel=stylesheet href=/static/css/qatools-opt.css>
    <link rel=stylesheet href=/static/css/qatools-options.css>
    <script src="/static/js/core/jquery-1.11.1.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <title translate>Context Menus Option</title></head>
<body ng-controller=OptionsCtrl>
<header class="navbar navbar-inverse navbar-fixed-top" role=banner>
    <div class="container">
        <nav class="collapse navbar-collapse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">QaTools</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li ui-sref-active=active><a ui-sref=about><i class="glyphicon glyphicon-info-sign"></i> <span
                            translate>About</span></a></li>
                    <li ui-sref-active=active><a ui-sref=setoptions><i class="glyphicon glyphicon-th-large"></i> <span
                            translate>选项配置</span></a></li>
                    <li ui-sref-active=active><a ui-sref=popupmenu><i class="glyphicon glyphicon-list-alt"></i> <span
                            translate>Popup菜单</span></a></li>
                    <li ui-sref-active=active class="dropdown" id="rightmenusli">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-chevron-right"></i> 右键菜单 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active=active><a ui-sref="menu({type:'men'})"><i class="glyphicon glyphicon-list"></i> <span
                                    translate>menMenu</span></a></li>
                            <li ui-sref-active=active><a ui-sref="menu({type:'txt'})"><i class="glyphicon glyphicon-search"></i>
                                <span translate>txtMenu</span></a></li>
                            <li ui-sref-active=active><a ui-sref="menu({type:'pic'})"><i class="glyphicon glyphicon-picture"></i>
                                <span translate>picMenu</span></a></li>
                            <li ui-sref-active=active><a ui-sref="menu({type:'lin'})"><i class="glyphicon glyphicon-link"></i> <span
                                    translate>linMenu</span></a></li>
                            <!--<li class="divider">
                            <li><a href="#">分离的链接</a></li>
                            <li class="divider">
                            <li><a href="#">另一个分离的链接</a></li>-->
                        </ul>
                    </li>
                    <li ui-sref-active=active><a ui-sref=settings><i class="glyphicon glyphicon-wrench"></i> <span
                            translate>Settings</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="container" style="margin-top: -20px;">
    <div ui-view></div>
</div>
<footer>
    <div class="container"><p><i class="glyphicon glyphicon-copyright-mark"></i> 2015 <a
            href="http://qa.corp.qunar.com" target="_blank">qa.corp.qunar.com</a></p></div>
</footer>
<script src="/static/js/options/lib.js"></script>
<script src="/static/js/options/i18n.js"></script>
<script src="/static/js/options/options.js"></script>
<script src="/static/js/mod/mod_options.js"></script>
</body>
</html>