<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <title>一键变价测试工具</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/core/jquery-1.11.1.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <legend>一键变价测试工具：<span id="codeTitle">OneKeyChangePrice</span></legend>
            <textarea id="bookingurl" rows="5" cols="160" placeholder="在这里粘贴您需要处理的booking串"></textarea>

            <form>
                <div class="form-group">
                    <label for="domain">domain</label>
                    <input type="text" class="form-control" id="domain" placeholder="代理商域名">
                </div>
                <div class="form-group">
                    <label for="policyid">policyId</label>
                    <input type="text" class="form-control" id="policyid" placeholder="policyId">
                </div>
                <div class="form-group">
                    <label for="editurl">editurl</label>

                    <p id="editurl" style="display: none;"><a href="javascript:void(0);">生成政策修改url的地方</a></p>

                    <p class="help-block">生成政策修改url的地方.</p>
                </div>

            </form>
        </div>
    </div>

</div>
</body>
<script src="/static/js/onekeychangeprice/qatools_onekey_change_price.js"></script>
</html>
